.album-container {
    background-color: #151921;

    display: grid;
    gap: 30px;
}

.album-container h1 {
    color: white;
    font-size: 3rem;
}

.album-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    grid-template-rows: repeat(auto-fit, 1fr);
    place-items: end center;
}

.album-info {
    display: grid;
    gap: 20px;
}

.album-tracks {
    padding: 30px;
    display: grid;
    gap: 20px;
}

.album-tracks iframe {
    border: none;
}

.album-details img {
    height: 300px;
}